.response--main-navigation a {
  display: block;
  text-decoration: none;
}

.response--main-navigation li {
  list-style-type: none;
}

.response--site-menu {
  display: flex;
  justify-content: space-between;
}


/* Responsive! */
.show-nav,
.hide-nav {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.hide-nav {
  margin-bottom: 2rem;
  width: 40px;
  height: 40px;
}

.response--main-navigation.mobile-nav .response--site-menu {
  display: block;

  position: fixed;
  top: -25px;
  right: 100%;
  left: -25px;
  min-height: 100vh;
  overflow-y: auto;
  transform: translateX(-100%);

  transition: all .05s;
}

.response--main-navigation.mobile-nav.expanded .response--site-menu {
  right: 0;
  transform: translateX(0);
}

// custom styles

@media screen and (max-width: 1080px) {
  button.show-nav {
    padding: 0;
    top: 2px;
  }
  .response--site-menu {
    position: absolute;
    top: 0px;
    z-index: 99999;
    min-height: 100vh;
    background-color: @header-bg-color;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .show-nav {
    border: none;
    background-color: transparent;
  }

  .hide-nav {
    position: relative;
    border: none;
    background-color: transparent;
    padding-left: 20px;
  }

}
