.currency {
  display: flex;
  align-items: center;
  margin-left: 15px;
  text-align: left;

  &__select {
    position: relative;
    margin-top: 5px;
    min-width: 85px;
    border: none;
    border-radius: 6px 6px;
    background-color: #fff;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 9px;
    padding-left: 11px;
    color: #000;
    font-size: 17px;
    font-weight: bold;
    -moz-appearance: none;
    -webkit-appearance: none;

    &:active {
      border-radius: 6px 6px 0px 0px;
    }
  }

  &__label {
    color: @text-color;
    font-size: 14px;
  }

  &__wrapper {
    display: block;
    position: relative;

    &:after {
      position: absolute;
      top: 12px;
      right: 7px;
      content: '';
      pointer-events: none;
      .sprite(@custom-arrow);

    }
  }
}

.currency-button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 9px;
  width: 100%;
}

@media (max-width: @screen-md) {
  .currency {
    margin-right: 15px;
    margin-left: 0;
  }

  .currency-button-wrapper {
    margin-left: 0px;
  }
}