.currency {
  margin-right: 137px;
  text-align: left;
  &__select {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    font-size: 17px;
    border-radius: 6px 6px;
    margin-top: 4px;
    padding-left: 11px;
    padding-top: 13px;
    padding-bottom: 12px;
    padding-right: 15px;
    &:active {
      border-radius: 6px 6px 0px 0px;
    }
  }
  &__label {
    font-size: 14px;
    color: @text-color;
  }

}
