.date-block {
  display: flex;
  justify-content: space-between;
  &__item {
    text-align: left;
  }
  &__label {
    font-weight: 14px;
  }
  &__input {
    margin-top: 4px;
    max-width: 127px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-right: 25px;
    border-radius: 6px;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    font-size: 17px;
  }
}
