.input-city {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 22px;

  &__item {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
  }

  &__item--departure {
    margin-right: 2px;
  }

  &__item--arrival {
    margin-left: 2px;
  }

  &__item-title {
    position: relative;
    width: 100%;
    font-size: 14px;
  }

  &__input-field {
    box-sizing: border-box;
    flex: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    border: none;
    background-color: #ffffff;
    padding-top: 16px;
    padding-right: 14px;
    padding-bottom: 16px;
    padding-left: 14px;
    font-size: 17px;
  }

  &__input-field--departure {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-right: 40px;
  }

  &__input-field--arrival {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  &__arrows {
    display: inline-block;
    position: absolute;
    top: 32px;
    left: -49px;
    z-index: 1;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
  }

  &__arrows--right {
    display: block;
    position: absolute;
    top: 0px;
    left: 10px;
    width: 20px;
    height: 8px;
    transition: left 0.2s linear;
    .sprite(@arrow-right)
  }

  &__arrows--left {
    display: block;
    position: absolute;
    top: 10px;
    left: 5px;
    width: 20px;
    height: 8px;
    transition: left 0.2s linear;
    content: "";
    .sprite(@arrow-left)
  }

  &__example {
    font-size: 14px;
  }

  &__example-link {
    opacity: 0.5;
    text-decoration: none;
    color: #fff;

    &:hover {
      opacity: 1;
    }
  }

  &__example-text {
    opacity: 0.5;
  }
}

@media (max-width: @screen-md) {
  .input-city {
    align-items: center;


    &__items {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: @screen-xs) {
  .input-city {
    &__input-field {
      max-width: 250px;
      font-size: 16px;
    }
  }
}