.input-date-currency {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

@media (max-width: @screen-md) {
  .input-date-currency {
    align-items: center;
    flex-direction: column;
  }

  .currency {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}